<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue(v-for)</title>
</head>
<script src="js/vue.js"></script>
<body>
    <div id="app">
        <ul>
            <li v-for="(value,index) in arr">
                {{index}}------{{value}}
            </li>
        </ul>
        <hr>
        <ul>
            <li v-for="(value,index) in list">
                {{index}}-----{{value.username}}------{{value.age}}
            </li>
        </ul>
    </div>
</body>
<script>
    new Vue({
        el:"#app",
        data:{
            arr:["aaa","bbb","ccc"],
            list:[{"username":"张三","age":"23"},{"username":"李四","age":"32"}]
        }
    })
</script>
</html>